<aside class="right_content">
  <div class="single_sidebar">
    <h2><span>Popular Post</span></h2>
    <ul class="spost_nav">
      <% for (const article of mostViewedArticles) { %>
        <li>
          <div class="media">
            <a href="detail/<%= article.id %>" class="media-left">
              <img alt="" src="<%= article.thumbnail %>" />
            </a>
            <div class="media-body" style="display: flex; flex-direction: column; justify-content: space-between;">
              <a href="detail/<%= article.id %>" class="catg_title">
                <%= article.title %>
              </a>
              <div class="article-meta" style="display: flex; margin-top: 16px; gap: 16px; font-size: 12px;">
                <p class="text-secondary">
                  <i class="fa fa-calendar"></i>
                  <%= new Date(article.published_date).toLocaleDateString() %>
                </p>
                <p class="text-secondary">
                  <i class="fa fa-eye"></i>
                  <%= article.views %>
                </p>
                <p class="text-secondary">
                  <i class="fa fa-folder"></i>
                  <%= article.cate_name %>
                </p>
              </div>
            </div>
          </div>
        </li>
        <% } %>
    </ul>
  </div>
</aside>